.App {
  text-align: center;
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}
.App-results {
  width:100%;
  min-height: 100vh;
  
}
.App-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 200%;
}

.App-content {
  background-color: #b2ebfa;
  background-color: #121212;
  color: white;
  display: flex;
  flex-direction: column;
}
.App-header {
  background-color: #d9e3f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: black;
  padding: 150px;
  
}

.App a{
  color: black;
}

.App li {
  list-style:circle;

}
